# Supabase Configuration (Server-side)
SUPABASE_URL=https://qmruagjcmkznncjolske.supabase.co
SUPABASE_KEY=sb_publishable_pzN7kam4BbGjYP8JdDKodA_Kn_GJUnU

# Supabase Configuration (Client-side / Netlify)
VITE_SUPABASE_URL=https://qmruagjcmkznncjolske.supabase.co
VITE_SUPABASE_KEY=sb_publishable_pzN7kam4BbGjYP8JdDKodA_Kn_GJUnU
